.banner {
    display: flex;
    padding: 3.125rem 1rem 4.375rem 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.imagem__banner {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .imagem__banner {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .imagem__banner {
        width: 50%;
    }
}