.divisor {
    display: flex;
    align-items: center;
}

.divisor_left {
    border-top: 1px solid var(--cinza-escuro);
    width: 7%;
}

.divisor_rigth {
    border-top: 1px solid var(--cinza-escuro);
    width: 22%;
    margin-right: 1rem;
}

.divisor_texto {
    background-color: var(--cinza-escuro);
    padding: .5rem;
    color: white;
    font-size: 1rem;
}

.divisor_numero {
    font-size: 3.4375rem;
    font-weight: 700;
    color: #2f2f2f5e;
    font-family: var(--font-divisor);
}

.divisor_rigth2 {
    border-top: 1px solid var(--cinza-escuro);
    width: 39%;
    margin-right: 1rem;
}

.divisor_rigth3 {
    border-top: 1px solid var(--cinza-escuro);
    width: 45%;
    margin-right: 1rem;
}
.divisor_rigth4 {
    border-top: 1px solid var(--cinza-escuro);
    width: 35%;
    margin-right: 1rem;
}
.divisor_rigth5 {
    border-top: 1px solid var(--cinza-escuro);
    width: 44%;
    margin-right: 1rem;
}