.divisor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    padding-bottom: 0;
}

.linha {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #636363;
    z-index: -1;
}

.divisor_texto {
    background-color: var(--cinza-escuro);
    padding: .5rem 1rem;
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
}

.divisor_numero {
    font-size: 3.4375rem;
    font-weight: 700;
    color: #2f2f2f5e;
    font-family: var(--font-divisor);
    background-color: #ffffff;
    padding-left: 0.5em;
}

.caixa_branca {
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    background-color: #ffffff;
    z-index: -1;
}

