.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem 2.2rem 1rem;
    text-align: center;
}

.cabecalho__texto {
    color: var(--vermelho);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .08rem;
}

.cabecalho__titulo {
    font-size: 2.50rem;
    font-family: var(--font-titulo);
    color: var(--cinza-secundario);
    letter-spacing: .2rem;
    
}

.cabecalho__subtitulo {
    font-size: 1rem;
    font-weight: 700;
    line-height: auto;
    letter-spacing: .45rem;
    font-family: var(--font-titulo);
    color: var(--cinza-secundario);
}

.container_inscrever {
    display: flex;
    justify-content: space-between;
    padding: .7rem 1rem;
    border-bottom:1px solid var(--cinza-escuro);
    border-top: 1px solid var(--cinza-escuro);
    font-size: 1rem;
    font-weight: 500;
}

.inscrever__texto {
    color: #070707c7;
}

.inscrever__link {
    color: #EF7B7B;
    font-family: var(font-principal);
}