.manchete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem 4rem 1rem;
    gap: 1rem;
    
}
.manchete__imagem {
    width: 100%;
}

.manchete__titulo {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--cinza-secundario);
    font-weight: 500;
    
}

.manchete__texto {
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: var(--cinza-secundario);
}